@charset "utf-8";


.contanier {
    width: 100%;
    max-width: 1200px; /* 그리드시스템 크기 */
    margin: 0 auto;
    padding: 0 10px; /* 첫 번째 그리드의 좌측 마진과 마지막 그리그의 우측 마진을 표현 */
    /* background-color: bisque; */
}


header nav {
    width: 100%;
    background-color: rgb(43, 43, 187);
}

header .contanier {
    padding: 0;
}
/* gnb */
.gnb {
    display: flex;
    flex-direction: column;
}

.gnb > li {
    width: 100%;
}

.gnb > li > a {
    text-align: center;
    color: #fff;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255,0.3);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: rgb(38, 38, 232);
}

#trigger > a {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: rgb(16, 16, 141);
}

/*main*/

section {
    padding: 50px 0;
}

section:nth-child(odd) {
    background-color: #ccc;
}

.coding {
    margin-top: 80px;
}

.coding-flex-box {
    display: flex;
}

.coding-flex-box .codingtext {
    margin: 0 10% ;
    text-align: justify;
}

.coding-flex-box .codig-img {
    display: none;
}

/*saying*/
.saying {
    text-align: center;
}

.saying > h2 {
    font-size: 0;
}

.saying strong {
    margin: 20px 5%;
    color: coral;
}

.saying p {
    display: block;
    margin-bottom: 20px;
    font-style: italic;
    color: gray;
    font-size: 14px;
}

/*program*/
.program-flex-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.program-flex-box .education {
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.education {
    margin-bottom: 10px;
}

/*footer*/
footer {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(16, 16, 141);
}

.footer-flex-box {
    display: flex;
    flex-direction: column;
}

.footer-flex-box address {
    font-style: normal;
    font-size: 12px;
    color:#fff;
}

/*sns*/
.footer-flex-box .sns {
    margin-top: 30px;
}

.footer-flex-box .sns > a {
    display: inline-block;
    margin-right: 15px;
}